# --- Python & Cache ---
__pycache__/
*.py[cod]
*$py.class

# --- Database (CRITICAL) ---
*.db
*.sqlite3
gearguard.db

# --- Virtual Environments ---
env/
venv/
.venv/

# --- IDE Settings (VS Code, Mac, etc) ---
.vscode/
.idea/
.DS_Store
